@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 10px;
  row-gap: 10px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.bolded {
  font-weight: bold;
}

a{
  text-decoration: none;
  color: rgb(17, 16, 20);
  transition: 0.4s;
}
